.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
*.github/**
README.zh-CN.md
.prettierignore
prettier.config.mjs
eslint.config.mjs
cSpell.json